
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	background: rgba(0,0,0,0.8);
}
.modal{
	z-index: 1;
	width: 500px;
	height: 200px;
	margin: 0 auto;
	background: #eee;
	opacity: 0;
	transition: 1s;
	position: relative;
}
.close img{
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	display: block;
	position: absolute;
	top: 0; right: 0;
}
.form{
	width: 250px;
	height: 70px;
	margin: 0 auto;
	transform: translateY(50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*div{
	width: 300px;
	height: 70px;
	margin: 0 auto;
	background: #fff;
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
	display: block;
	
}
*/






















